div
  p= say_hello
  p= foo('bar')
  p= play("The Beatles", 'I Am the Walrus')
  if development
    p= "Dev rocks!"

  p= fruity_song
  div
    p= say_hello
    p= foo('bar')
    p= play("The Beatles", 'I Am the Walrus')
    if development
      p= "Dev rocks!"

    p= fruity_song
    div
      p= say_hello
      p= foo('bar')
      p= play("The Beatles", 'I Am the Walrus')
      if development
        p= "Dev rocks!"

      p= fruity_song
      div
        p= say_hello
        p= foo('bar')
        p= play("The Beatles", 'I Am the Walrus')
        if development
          p= "Dev rocks!"

        p= fruity_song
        div
          p= say_hello
          p= foo('bar')
          p= play("The Beatles", 'I Am the Walrus')
          if development
            p= "Dev rocks!"

          p= fruity_song
          div
            p= say_hello
            p= foo('bar')
            p= play("The Beatles", 'I Am the Walrus')
            if development
              p= "Dev rocks!"

            p= fruity_song
