<div>
  <p><%= say_hello %></p>
  <p><%= foo('bar') %></p>
  <p><%= play("The Beatles", 'I Am the Walrus') %></p>
  <p><%= say_hello %></p>
  <% if development %>
    <p><%= "Dev rocks!" %></p>
  <% end %>
  <p><%= fruity_song %></p>
  <div>
    <p><%= say_hello %></p>
    <p><%= foo('bar') %></p>
    <p><%= play("The Beatles", 'I Am the Walrus') %></p>
    <p><%= say_hello %></p>
    <% if development %>
      <p><%= "Dev rocks!" %></p>
    <% end %>
    <p><%= fruity_song %></p>
    <div>
      <p><%= say_hello %></p>
      <p><%= foo('bar') %></p>
      <p><%= play("The Beatles", 'I Am the Walrus') %></p>
      <p><%= say_hello %></p>
      <% if development %>
        <p><%= "Dev rocks!" %></p>
      <% end %>
      <p><%= fruity_song %></p>
      <div>
        <p><%= say_hello %></p>
        <p><%= foo('bar') %></p>
        <p><%= play("The Beatles", 'I Am the Walrus') %></p>
        <p><%= say_hello %></p>
        <% if development %>
          <p><%= "Dev rocks!" %></p>
        <% end %>
        <p><%= fruity_song %></p>
        <div>
          <p><%= say_hello %></p>
          <p><%= foo('bar') %></p>
          <p><%= play("The Beatles", 'I Am the Walrus') %></p>
          <p><%= say_hello %></p>
          <% if development %>
            <p><%= "Dev rocks!" %></p>
          <% end %>
          <p><%= fruity_song %></p>
          <div>
            <p><%= say_hello %></p>
            <p><%= foo('bar') %></p>
            <p><%= play("The Beatles", 'I Am the Walrus') %></p>
            <p><%= say_hello %></p>
            <% if development %>
              <p><%= "Dev rocks!" %></p>
            <% end %>
            <p><%= fruity_song %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
